@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Extrabold.ttf") format("truetype");
  font-weight: 800; /* Extrabold weight */
  font-style: normal;
}

/* Add Hamburger Menu styles */
.hamburger-menu {
  display: none;
  background: transparent;
  border: none;
  font-size: 30px;
  color: #432705;
  cursor: pointer;
  padding: 10px;
}

/* Show the hamburger menu on smaller screens */
@media (max-width: 1026px) {
  .hamburger-menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: fixed; /* Keep the hamburger fixed on the screen */
    top: 10px; /* Adjust position as needed */
    left: 10px; /* Adjust position as needed */
    z-index: 1000; /* Ensure it stays above other elements */
  }

  /* Rotate the hamburger icon when the navbar is active */
  .navbar.active ~ .hamburger-menu {
    transform: rotate(90deg); /* Rotate the hamburger */
  }

  /* Hide the navigation by default */
  .navbar {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: 50%; /* Set the width of the navbar */
    position: fixed; /* Ensure it stays on top */
    top: 0;
    left: 0;
    height: 100%; /* Full height */
    background: #fefdeb; /* Add background color for visibility */
    z-index: 999; /* Keep it below the hamburger */
  }

  /* Show the navbar when active */
  .navbar.active {
    display: block;
    opacity: 1;
    transform: translateX(0); /* Slide in from left */
  }

  /* Hide the logo and remove its space in the layout */
  .logo {
    display: none !important;
  }

  /* Adjust left-section for mobile */
  .left-section {
    width: 5%; /* Default width when the hamburger is closed */
    overflow: hidden; /* Hide content initially */
    padding: 0;
    transition: width 0.5s ease-in-out, padding 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Full height */
    z-index: 998; /* Keep below navbar and hamburger */
  }

  /* Adjust width of left-section when the navbar is active */
  .navbar.active + .left-section {
    width: 50%; /* Same width as the navbar */
    padding: 10px; /* Add padding when visible */
  }

  /* Styling for left-section content */
  .left-section h2 {
    font-size: 18px;
  }

  .left-section ul {
    padding: 0;
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .left-section li {
    padding: 10px 0;
    display: block;
    width: 100%;
  }

  .left-section li a {
    display: block;
    font-size: 14px;
    padding: 8px;
    color: #432705;
    text-decoration: none;
  }

  .left-section ul li.active a {
    width: 150px;
    background-color: #edededc7;
    color: #fdbc10;
  }

  .left-section p {
    display: block;
    font-size: 10px;
    padding: 8px;
  }

  /* Adjust margin-bottom of hamburger when navbar is active */
  .navbar.active ~ .hamburger-menu {
    margin-bottom: 50px; /* Adjust margin to create space below the navbar */
  }
}


body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Generic Table Styling */
.generic-table {
  flex: 2;
}

.left-section {
  width: max-content;
  background-color: #fefdeb;
  padding: 10px;
  height: 100vh;
  box-sizing: border-box;
  max-width: 18%;
}

.left-section .logo {
  margin-left: 7%;
  margin-top: 9px;
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.left-section h2 {
  color: #432705;
  margin-left: 10px;
  font-size: large;
  font-weight: bolder;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.left-section .logo img {
  width: 30px;
}

.left-section ul li a i {
  margin-right: 10px; /* Adjust the spacing as needed */
  font-size: 18px; /* Adjust icon size if necessary */
}

.left-section ul {
  margin-left: 15px;
  list-style: none;
  padding: 0;
}

.left-section li {
  display: flex;
  align-items: center;
  padding: 9px; /* Adjust padding as needed */
}

.left-section li a {
  cursor: pointer;
  margin-top: auto;
  align-items: center;
  text-decoration: none;
  color: #432705;
  font-weight: 600;
  display: block;
  font-size: 11px;
}

/* Style for active menu item */
.left-section ul li.active a {
  padding: 10px;
  width: 150px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: #edededc7; /* Change to your preferred color */
  color: #fdbc10; /* Change text color */
}

/* Highlight active menu image */
.left-section ul li.active img {
  margin-right: 12px; /* Adjust if needed */
  filter: brightness(0) sepia(1) hue-rotate(80deg) saturate(5) brightness(1.5);
}

.left-section p {
  text-decoration: none;
  color: #484440c3;
  padding: 8px;
  display: block;
  font-size: 10px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.right-section {
  flex-grow: 1; /* Make the right section take the remaining space */
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between; /* Space between search bar and profile section */
  align-items: center;
  padding: 6px 20px;
  background-color: #f9f9f900;
  border-bottom: 1px solid #ddd;
}

.search-bar {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #f0f0f58a;
  font-size: 3px;
  padding: 5px;
  border-radius: 5px;
}

.search-bar input {
  font-family: "Poppins", sans-serif;
  flex-grow: 1;
  padding: 5px;
  border: none;
  background-color: transparent;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background-color: transparent;
  color: #dbdbe4;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-section img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-section p {
  margin: 0;
  font-size: 14px;
  color: #432705;
  font-weight: 400;
}

.right-section h4 {
  font-weight: 600;
  margin-top: 3%;
  color: #432705;
  font-size: small;
  border-bottom: 1px solid #ddd;
}

/* Initially hide all sections */
.right-section .content {
  display: none;
}

/* Show the active section */
.right-section .content.active {
  display: block;
}

.search-bar-content {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  width: 20%;
  background-color: #f0f0f5cb;
  font-size: 3px;
  padding: 3px;
  border-radius: 5px;
  margin-left: auto;
}

.search-bar-content input {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  flex-grow: 1;
  padding: 5px;
  border: none;
  background-color: transparent;
}

.search-bar-content input:focus {
  outline: #fdbc10;
}

.search-bar-content button {
  background-color: transparent;
  color: #dbdbe4;
  border: none;
  padding: 5px;
  cursor: pointer;
}

/* Profile section container */
.progress-container {
  background-color: #fbf5e2;
  color: #432705;
  height: fit-content; /* Adjust this if necessary */
  width: 90%; /* You can adjust the width as needed */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the container horizontally */
  text-align: left; /* Keep text left-aligned inside the container */
}

.notes-container p {
  font-size: 12px;
}

.notes-container ul li {
  font-size: 12px;
}
#back-to-patients {
  cursor: pointer;
  text-decoration: none;
  color: #432705;
}

#feedback {
  width: 98%; /* Reduce the input field width */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#patientSelect,
#sessionDate,
#therapySelect,
#sessionTime,
#feedback {
  font-family: "Poppins";
  padding: 5px; /* Adjust padding to make inputs shorter */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.7rem;
  background-color: #fefdeb;
}

.hovered-option {
  background-color: #ab9984; /* Example color for hover */
  color: white; /* Text color when hovered */
}
#back-checklist-link {
  text-decoration: none;
  color: #432705;
}
/* Profile Container */
.edit-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
}

/* Ensure form takes up 80% of the container */
.form-edit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Profile Picture Section */
.profile-picture-section {
  position: relative;
  text-align: center;
  width: 15%; /* Adjust width for profile picture */
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e0d0a5;
}

.edit-picture-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f7f2d6;
  border: none;
  cursor: pointer;
  color: #666;
}

.edit-picture-button i {
  font-size: 16px;
}

/* Left Column - Profile Info Section */
.edit-info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 25px;
  width: 35%; /* Adjust width to fit with right column */
}

/* Right Column - Additional Info Section */
.additional-info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30%; /* Adjust width for right column */
}

/* Form Group */
.form-group-profile {
  display: flex;
  flex-direction: column;
}

.form-group-profile label {
  font-weight: 600;
  font-size: 14px;
  color: #432705;
  margin-bottom: 5px;
}

/* Input Fields */
.input-field {
  padding: 10px;
  border: 1px solid #e0d0a5;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  color: #432705;
}

.input-field-service {
  padding: 10px;
  background-color: #ffffff;
  font-size: 14px;
  color: #432705;
}

/* DOB Fields */
.dob-fields {
  display: flex;
  gap: 10px;
}

.dob-field,
.dob-field-year {
  width: 70px;
  padding: 8px;
  border: 1px solid #e0d0a5;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  color: #432705;
}

.dob-field-year {
  width: 90px;
}

/* Textarea Styling */
.input-field textarea {
  font-family: "Popppins";
  resize: none;
}

/* Responsive */
@media (max-width: 768px) {
  .form-edit {
    flex-direction: column;
  }

  .profile-picture-section,
  .edit-info-section,
  .additional-info-section {
    width: 100%; /* Stack sections vertically on small screens */
    margin-right: 0;
  }
}

/* Log Out Modal styles */
.modal-logout {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content-logout {
  background-color: #fefdeb;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}

.close-logout {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-logout:hover,
.close-logout:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#confirmLogout,
#cancelLogout {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#cancelLogout {
  background-color: #f44336; /* Red */
}

input[type="radio"] {
  cursor: pointer;
  visibility: hidden; /* Make the radio button invisible */
  position: absolute; /* Remove the button from the layout flow */
}

input[type="radio"]:checked + label {
  cursor: pointer;
  /* Optional: Modify the label style when the radio button is checked */
  font-weight: bold; /* Example: make label bold when selected */
}

input[type="radio"]:checked + label::after {
  cursor: pointer;
  content: ""; /* Optional: Append text to label when checked */
}

.tabs-container {
  display: flex;
  background-color: #ffffff;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  gap: none;
}

.tab {
  margin-right: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #e0e0e0;
  color: #432705;
  border-radius: 5px 5px 0 0;
  font-weight: 200;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #ab9984;
  color: white;
}

.tab.active {
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-bottom: none;
  font-weight: 600;
}

.tab.active:hover {
  background-color: #ffffff;
  color: #432705;
}
.content-container {
  display: none;
  padding: 20px;
  border: 2px solid #ccc;
  border-top: none;
}

.content-container.active {
  display: block;
}

.add-notes {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #ECB723;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
